.homepageContainer {
    width: auto;
}

.homepageHeader {
    padding: 50px 40px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #FF0054;
    margin-bottom: 100px;
}

.headerImage {
    width: 715px;
    height: 530px;
    top: 0;
}

@media (max-width: 1350px) {
    .homepageContainer {
        width: auto;
    }

    .headerImage {
        width: 100%;
        height: auto;
    }

    .homepageHeader {
        flex-direction: column;
    }
}