.container {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.leftSide {
  flex: 1;
  min-height: 100vh;
  background: #011627;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  flex: 1;
  min-height: 100vh;
  background: #FDFFFC;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.rightContent {
  width: 100%;
  max-width: 720px;
  padding: 0px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.signInButton {
  width: 18vw;
  height: 6.7vh;
  background: #FF0054;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  color: #FDFFFC;
  font-size: 1.3em;
  margin-bottom: 16px;
  margin-right: 50%;
  margin-top: 2vh;
  font-weight: 600;
}

.signInButton:hover {
  opacity: 1;
}

.signUpLink {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: 0;
  cursor: pointer;
}

.oAuth2ButtonText {
  color: #011627;
  font-size: 1.3em;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .leftSide {
    display: none;
  }

  .rightSide {
    width: 100vw;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .signInButton {
    margin-right: 0;
    margin: 16px auto;
  }
}
