# JWT
SECRET_KEY= a secret key

# CRYPTO
CRYPTO_KEY= a secret key

# BACK-END
HOST_BACK= Host used by back-end service
PORT_BACK= Port used by back-end service

# FRONT-END
HOST_FRONT= Host used by front-end service
PORT_FRONT= Port used by back-end service

# DOCKER POSTGRES
POSTGRES_HOST= Database container name
POSTGRES_PORT= 5432
POSTGRES_USER= superuser
POSTGRES_PASSWORD= required
POSTGRES_DB= dbname

# GOOGLE AUTH
GOOGLE_CLIENT_ID= Google API Console
GOOGLE_CLIENT_SECRET= Google API Console
GOOGLE_CALLBACK_URL= Google API Console
TARGET= dev || production

# MICROSOFT AUTH
MS_CLIENT_ID= Client ID of the app
MS_CLIENT_SECRET= Client Secret of the app
MS_REDIRECT_URI=http://localhost:3000/get_token/

# POSTGRES ADMIN
PGADMIN_DEFAULT_EMAIL= an email
PGADMIN_DEFAULT_PASSWORD= a password

# CLIENT MOBILE
# need to create your own account on Expo
EXPO_USER= email
EXPO_PASS= password
EXPO_PUBLIC_IP_MACHINE=IP
EXPO_PUBLIC_PORT=PORT

# CLIENT WEB
NEXT_PUBLIC_HOST=HOST
NEXT_PUBLIC_PORT=PORT
NEXT_PUBLIC_BACK_LOCALHOST=$NEXT_PUBLIC_HOST:$NEXT_PUBLIC_PORT
NEXT_PUBLIC_PORT_FRONT=PORT_FRONT
NEXT_PUBLIC_WEB_LOCALHOST=$NEXT_PUBLIC_HOST:$NEXT_PUBLIC_PORT_FRONT

# TWITCH AUTH
TWITCH_CLIENT_ID= Client ID of the app
TWITCH_CLIENT_SECRET= Client secret of the app
TWITCH_CALLBACK_URL=/auth/twitch/callback

# GITHUB
GITHUB_CLIENT_ID=
GITHUB_SECRET=
GITHUB_CALLBACK_URL=/auth/github/callback

# SPOTIFY
SPOTIFY_CLIENT_ID=
SPOTIFY_SECRET=
SPOTIFY_CALLBACK_URL=/auth/spotify/callback

# LINKEDIN
LINKEDIN_CLIENT_ID=
LINKEDIN_SECRET=
LINKEDIN_CALLBACK_URL=